html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100% !important;
}

code {
  font-family: 'Roboto', sans-serif !important;
}


/* HEADER */

header {
  position: fixed;
  width: 100%;
  z-index: 10;
  -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  opacity: 0.95;
}

.navbar {
  background-color: #5d5d5d;
}

.navbar-brand {
  color: #fff !important;
  font-size: 23px !important;
  font-weight: 400;
}

.menu-link {
  color:#fff !important;
  font-size: 16px !important;
}

/* HOME */

.section-home {
    height: 600px;
    background-color: #f1f1f1;
    text-align: center;
    color: #333 !important;
    padding-top: 70px;
}

.section-home .heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 35px;
  line-height: 40px;
  font-weight: 500;
}

.section-home .subheading {
  margin-bottom: 18px;
}

/* SECTIONS */

.section-image {
  width: 291px;
}

.section-white-left {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #333 !important;
}

.section-grey-right {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f3f3f3;
  color: #333 !important;
}

.section-heading {
  padding-top: 39px;
  margin-bottom: 20px;
}

.section-title-group {
  margin-bottom: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

/* FOOTER */

.section-footer {
  background-color: #f3f3f3;
  color: #333 !important;
  padding-top: 50px;
  padding-bottom: 50px;
}

.svg-icon {
  float: right;
  margin-right: 5px;
}


/* MEDIA */

@media (max-width: 991px) {
  .thumb img {
    width: 150px;
  }
}

@media (max-width: 767px) {
  .thumb img {
    width: 110px;
  }
  
  .section-heading {
    text-align: center;   
  }

  .section-subheading {
    text-align: center;   
    margin-bottom: 40px;
  }

  .svg-icon {
    float: left;
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
  .thumb img {
    width: 215px;
  }
}


/* QUESTION */

.nav-link.disabled {
  pointer-events: all !important;
}

.questions-tab {
  background-color: #fff;
  border: 15px solid #fff;
  border-radius: 10px;
  padding: 20px;
  min-height: 450px;
}

.questions-tab .nav-link {
  color: #000;
  cursor: pointer;
}

.answer-button {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.menu-link {
  font-weight: 500;
  font-size: 18px;
}

.unavailable-tab {
  background: bisque !important;
  color: #fff !important;
  cursor: no-drop !important;
}

.available-tab {
  color: #000 !important;
  font-weight: 500;
  border-color: #dee2e6 !important;
}

.scroll-link {
  cursor: pointer;
}

.scroll-button {
  background-color : rgba(52,58,64,.5);
  padding: 14px 16px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 1px 20px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 1px 20px -4px rgba(0,0,0,0.75);
  box-shadow: 2px 1px 20px -4px rgba(0,0,0,0.75); 
  color: #fff;
  cursor: pointer;
}

.scroll-button:before {
  font-size: 26px;
  vertical-align: sub;
}
.down:before {
  content: '\21E9';
}

.up:before {
  content: '\21E7';
}

.scroll-button:focus {
  outline: none;
}

#mybutton {
  position: fixed;
  bottom: 55px;
  right: 30px;
  z-index: 10;
}

.question-content {
  margin-left: 15px;
  margin-top: 15px;
}

.question-name {
  font-weight: 600;
}

.question-answer {
  margin-bottom: 10px;
}

.font-14 {
  font-size: 14px;
}

.answers {
  margin-left: 15px;
}

.v-center {
  display: flex;
  align-items: center; 
}

.pl-0 {
  padding-left: 0;
}

.section-questions {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color:#E0E0E0;
  min-height: 600px;
  color: #333 !important;
}

.inline-block {
  display: inline-block;
}

.home-loaded {
  opacity: 1;
    transform: translateX(0px) translateY(0px) translateZ(0px);
    transition: opacity 1000ms ease 0s, transform 1000ms ease 0s;
}

.home-not-loaded {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

a.active {
  background-color: #ffc107 !important;
}

.nav-tabs .nav-link {
  border: 1px solid #FCF2DC !important;
}

.nav-tabs {
  border-bottom: 1px solid #FCF2DC !important;
}

.summary-progress {
  margin-right: 30px;
  margin-bottom: 10px;
}
